//400 600 700
$fMukta: "Mukta", sans-serif;
$cPrimary: #1b1b1b;
$cPrimaryDark: #151515;
$cPrimaryLight: #222;
$cPrimaryLighter: #262626;
$cSecondary: #313131;
$cSecondaryLight: #373737;
$cSecondaryLighter: #494949;
$cSecondaryLightest: #747474;
$cGray: #d0d2d7;
$cBlue: #3958fc;
$cBlueLight: #6b8aff;
$cBlueDark: #2544e8;
$cWhite: #fff;
$cBlack: #0f0f0f;
